* {
margin: 0;
padding: 0;
}

h1 {
 text-align: center;
 font: 40px Verdana, Helvetica, sans-serif;
 text-transform: uppercase;
 margin: 20px;
}

#wall { 
 background:url("wall.png") repeat;
 width:100%;
 height:85%;
 margin-top: 10px;
 z-index: -1;
 position: absolute;
}

.window {
 width: 156px;
 height: 273px;
 float: left;
 overflow: hidden;
 background: none;
 cursor: pointer;
 margin: 50px 18%; 
 background-color: rgba(0, 0, 0, .2);
 -webkit-box-shadow: inset 0 0 20px rgba(0 ,0, 0, .3);
 -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, .3);
 box-shadow: inset 0 0 20px rgba(0, 0, 0, .3);
}

.inside p {
 margin: 15px 0;
 text-align: center;
}

.inside {
 position: absolute;
 z-index: -1;
 width: 156px;
 margin: 10px 0 0 0;
}

.window>a img {
 -webkit-transition: margin 0.3s ease;
 -moz-transition: margin 0.3s ease;
 -o-transition: margin 0.3s ease;
 -ms-transition: margin 0.3s ease;
 transition: margin 0.3s ease;
}

.window>a:hover img {
 margin-top:-40px;
}

.window>a:active img{
 margin-top:-250px;
}
